/*Set image in the background of section*/
.background {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  min-height: 860px;

  &--xl {
    min-height: 1660px;
    z-index: -2;
  }

  /*Background image only fills a set height*/
  &--fill {
    height: 62.5rem;
    width: 100vw;
    position: relative;
  }
  &--from-top {
    top: 0;
    bottom: auto;
    margin-top: -15rem;

    @mixin atSmall {
      margin-top: -35rem;
    }
  }
}
