.concept {
  /*set position and size of the image*/
  &__img {
    max-width: 27.75rem;
    margin-bottom: -31rem;

    @mixin atSmall {
      max-width: 21.5rem;
      margin-bottom: -28rem;
    }
  }
}
