/*gives a flex property to elements, with different option for alignment*/
.flex {
  display: flex;
  &--column-flex {
    flex-direction: column;
  }
  &--center-vertically {
    align-items: center;
  }
  &--end-vertically {
    align-items: flex-end;
  }
  &--center-horizontally {
    justify-content: center;
  }
  &--end-horizontally {
    justify-content: flex-end;
  }
  &--space-between {
    justify-content: space-between;
  }
}
