/* quick styles for making a grid item*/
.grid {
  display: grid;
  &--2column {
    grid-template-columns: 1fr 1fr;
    &--smallscreen {
      @mixin atSmall {
        grid-template-columns: 1fr;
        row-gap: 2rem;
      }
    }
  }
  &--3column {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
