/* styles for the top navigation bar*/
.navbar {
  font-size: 1em;
  position: fixed;
  top: 0;
  width: calc(100vw - 7.5rem);
  z-index: 2;
  &__links {
    max-width: 18.75rem;
  }
  &__img {
    justify-self: center;
    align-self: center;
  }
  /*styles for the language switch*/
  &__lang {
    width: 6.25rem;
    height: 1.875rem;
    justify-self: end;
    border: #333333 solid 1px;
    border-radius: 14px;
    align-self: center;
  }
  &__logo {
    max-width: 14rem;
    justify-self: center;
  }
}
