.navbar {
  font-size: 1em;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: calc(100vw - 7.5rem);
  &__links {
    max-width: 18.75rem;
  }
  &__img {
    justify-self: center;
    align-self: center;
  }
  &__lang {
    width: 6.25rem;
    height: 1.875rem;
    justify-self: end;
    border: #333333 solid 1px;
    border-radius: 14px;
  }
}
